NODE_ENV=production
NEXT_PUBLIC_SITE_URL=https://cloudsuitepro.online
PORT=3002

# API URL para conexión con el backend
NEXT_PUBLIC_API_URL=http://xotica-be-uxqera-5caf4d-15-204-205-21.traefik.me

# Configuración de autenticación
NEXT_PUBLIC_JWT_EXPIRATION=24h

# Configuración de la aplicación
NEXT_PUBLIC_APP_NAME=Xotica BO
NEXT_PUBLIC_APP_VERSION=1.0.0
