NODE_ENV=production
NEXT_PUBLIC_SITE_URL=https://cloudsuitepro.online
PORT=3002

# API URL para conexión con el backend
NEXT_PUBLIC_API_URL=http://xotica-be-uxqera-5caf4d-15-204-205-21.traefik.me

# Configuración de autenticación
NEXT_PUBLIC_JWT_EXPIRATION=24h

# Configuración de la aplicación
NEXT_PUBLIC_APP_NAME=Xotica BO
NEXT_PUBLIC_APP_VERSION=1.0.0

# PayPal Configuration
# Obtén tu Client ID en: https://developer.paypal.com/dashboard/applications/live
# Para sandbox (pruebas): https://developer.paypal.com/dashboard/applications/sandbox

# Sandbox (Testing)
NEXT_PUBLIC_PAYPAL_CLIENT_ID="ASCDF-cy1SnUZDXYRIZFbxfdiSS4u6YFqOXdt7oTK7_HwvPA6_AiVaP897qy2qVXripqY3fgqhPBcyI7"

# Production (Live)
# NEXT_PUBLIC_PAYPAL_CLIENT_ID="AYfrZRrGp55DEiFdm2zwxCcUcBqongeRW1dk3KpITjVZiNJ96c39ReXz2tu-_xzDZr4IHuypiH13x_7S"